<h3>Medlem » Udmeld</h3>

<p>
  Såfremt du ikke ønsker at være aktivt medlem af klubben længere, har du her muligheden for at melde dig ud. 
  Før at dette sker, skal du dog begrunde dit ønske og så er det op til klubbens kontaktperson, at bedømme om det kan lade sig gøre. 
  Såfremt dit ønske ikke bliver opfyldt med det samme, kan det skyldes at du måske har et udestående med klubben, fx i forbindelse med kontingent. 
  Det er op til kontaktpersonen at informere dig om din sag.
</p>

<%= form_tag resign_user_path(current_user) do %>
  <%= text_area_tag :argument, nil, :rows => 6, :cols => 160 %>
  <br>
  <%= submit_tag "Send min henvendelse", :class => "btn btn-danger" %>
<% end %>
