<h1>Mine medlemsinformationer</h1>

<%= form_for @user, :url => account_path do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "edit", :object => f %>
  <%= f.submit "Gem mine medlemsinformationer", :class => "btn btn-primary" %>
<% end %>