<li class="dropdown-submenu">
  <a tabindex="-1" href="#">Klubstyring</a>
  <ul class="dropdown-menu">
    <li><%= link_to "Sponsor", root_path %></li>
    <li><%= link_to "Nyheder", root_path %></li>
    <li><%= link_to "Indstillinger", edit_path %></li>
  </ul>
</li>