<li class="dropdown-submenu">
  <a tabindex="-1" href="#">Holdturnering</a>
  <ul class="dropdown-menu">
    <li><%= link_to "Opret turneringshold", root_path %></li>
    <li><%= link_to "Holdstyring", root_path %></li>
    <li><%= link_to "Udtag spillere til kamp", root_path %></li>
    <li><%= link_to "Kommende kampe", root_path %></li>
  </ul>
</li>