<li class="dropdown-submenu">
  <a tabindex="-1" href="#">Træning</a>
  <ul class="dropdown-menu">
    <li><%= link_to "Tilmeld til træning", root_path %></li>
    <li><%= link_to "Træningsoversigt", root_path %></li>
    <li><%= link_to "Træningsstyring", root_path %></li>
  </ul>
</li>