<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <div style="margin: 5px 15% 5px 15%">
      <hr>
        <%= image_tag "logo-email" %>
      <hr>

      <%= yield %>
    </div>
  </body>
</html>